


.mat-card-box {

    margin: 95px 100px 0px 150px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.mat-tab-container {
    flex-direction: row;
    height: 90%;
}

.full-width {
    width: 100%;
}

.note-box {
    resize: vertical;
    overflow: auto;
    height: 500px;
}

.actions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}